<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Bot{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style_bot.css' %}">
{% endblock head %}
{% block content %}
<div class="chatbot-container">
  <div class="chatbot-header">
    <h3>MedicaBot</h3>
  </div>
  <div class="chatbot-body">
    <div class="chatbot-message bot-message">
      <p>Hello! How can I help you today?</p>
    </div>
  </div>
  <div class="chatbot-input">
    <form method="POST">
      {% csrf_token %}
    <input type="text" placeholder="Type your message here..." name="user_input">
    <button>Send</button>
    </form>
  </div>
</div>
{% comment %} <div class="container-fluid">
  <div class="container">
    <div class="form">
      <label for="exampleFormControlTextarea1" class="form-label">Hi, How may I help you?</label>
    </div>
    <div class="form">
      <form method="POST">
        {% csrf_token %}
        <input class="form-control form-control-lg" type="text" placeholder="Type your Concern" name="user_input">
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
    <div class="form">
      {% if response %}
      <div class="response">
        {{ response | safe }}
      </div>
      {% endif %}
    </div>
  </div>
</div> {% endcomment %}
{% endblock content %}
{% block script %}
<script src="{% static 'js/style_bot.js' %}"></script>
{% endblock script %}
